---
layout: default
title: Jeff Anders
---

<section data-section-id="team" class="animated-section section-teams">
	<a id="teams"><h2 class="section-title">Teams</h2></a>
	<ul class="card-grid card-grid-compact card-grid-compact-medium">
  		{% for team in site.data.teams %}
			<a href="{{ team.link }}"><li class="compact-card compact-card-medium"><img src="{{ team.image }}" alt="{{ team.company }} logo"><h3>{{ team.company }}</h3><p class="card-secondary">{{ team.role }}</p></li></a>
		{% endfor %}
	</ul>
</section>

<hr>

<section data-section-id="project" class="animated-section section-projects">
	<a id="projects"><h2 class="section-title">Projects</h2></a>
	<ul class="card-grid">
		{% for post in site.categories.project %}
			<li class="card-item card-item-category-{{ post.category }} {% if forloop.index > 24 %} initially-hidden-projects hidden{% endif %}">
  {% unless post.still == true %}<a href="{% if post.external %}{{ post.external }}{% else %}{{ post.url }}{% endif %}" {% if post.external %}target="_blank" rel="noopener"{% endif %}>{% endunless %}
		{% unless post.category contains "article" %}
			<div class="card-image">
				{% capture postname %}{{ post.title }}{% endcapture %}
				{% capture thumbnailpath %}{{ post.url }}{{ post.thumbnail }}{% endcapture %}
				{% include pic.html file=thumbnailpath alt=postname params="8:5"%}
			</div>
		{% endunless %}
		<div class="card-info">
			{% if post.category contains "project" %}
				<h3><span class="post-title">{{ post.title }}</span><span class="card-brief">&ensp;–&ensp;{{ post.brief }}</span>{% if post.external %}<span class="post-external">&ensp;↗</span>{% endif %}</h3>
			{% elsif post.category contains "talk" %}
				<h3 class="card-brief">{{ post.brief }}</h3>
				<h3 class="post-title">{{ post.title }}{% if post.external %}<span class="post-external">&ensp;↗</span>{% endif %}</h3>
			{% elsif post.category contains "article" %}
				<h3 class="post-title">{{ post.title }}{% if post.external %}<span class="post-external">&ensp;↗</span>{% endif %}</h3>
			{% endif %}
		</div>
	{% unless post.still == true %}</a>{% endunless %}
</li>
		{% endfor %}
	</ul>
	<button data-group="projects" class="button-more button-link initially-hidden-projects">See More</button>
</section>

<hr>

<section data-section-id="talk" class="animated-section section-talks">
	<a id="talks"><h2 class="section-title">Talks & Publications</h2></a>
	<ul class="two-column">
		{% for post in site.categories.talk %}
		<li class="card-item card-item-category-{{ post.category }} {% if forloop.index > 8 %} initially-hidden-talks hidden{% endif %}">
  {% unless post.still == true %}<a href="{% if post.external %}{{ post.external }}{% else %}{{ post.url }}{% endif %}" {% if post.external %}target="_blank" rel="noopener"{% endif %}>{% endunless %}
		{% unless post.category contains "article" %}
			<div class="card-image">
				{% capture postname %}{{ post.title }}{% endcapture %}
				{% capture thumbnailpath %}{{ post.url }}{{ post.thumbnail }}{% endcapture %}
				{% include pic.html file=thumbnailpath alt=postname params="1:1"%}
			</div>
		{% endunless %}
		<div class="card-info">
			{% if post.category contains "project" %}
				<h3><span class="post-title">{{ post.title }}</span><span class="card-brief">&ensp;–&ensp;{{ post.brief }}</span>{% if post.external %}<span class="post-external">&ensp;↗</span>{% endif %}</h3>
			{% elsif post.category contains "talk" %}
				<h3 class="card-brief">{{ post.brief }}</h3>
				<h3 class="post-title">{{ post.title }}{% if post.external %}<span class="post-external">&ensp;↗</span>{% endif %}</h3>
			{% elsif post.category contains "article" %}
				<h3 class="post-title">{{ post.title }}{% if post.external %}<span class="post-external">&ensp;↗</span>{% endif %}</h3>
			{% endif %}
		</div>
	{% unless post.still == true %}</a>{% endunless %}
</li>

		{% endfor %}
	</ul>
	<button data-group="talks" class="button-more button-link initially-hidden-talks">See More</button>
</section>

<hr>

{% comment %} <section data-section-id="article" class="animated-section section-writing">
	<a id="writing"><h2 class="section-title">Writing</h2></a>
	<ul class="two-column">
		{% for post in site.categories.article %}
			{% include card-item.html %}
		{% endfor %}
	</ul>
</section>

<hr> {% endcomment %}

<section data-section-id="list" class="animated-section section-lists">
	<a id="lists"><h2 class="section-title">Lists</h2></a>
	<ul class="card-grid card-grid-compact">
	    {% assign sortedlists = site.categories.list | sort: 'title' %}
    	{% for post in sortedlists %}
			<a href="{% if post.external %}{{ post.external }}{% else %}{{ post.url }}{% endif %}" {% if post.external %}target="_blank" rel="noopener"{% endif %}>
				<li class="compact-card">{% include icons/{{ post.thumbnail }}.html %}<h3>{{ post.title }}</h3></li>
			</a>
		{% endfor %}
	</ul>
</section>

<hr>

{% comment %} <section data-section-id="about" class="animated-section section-about">
	<a id="about"><h2 class="section-title">About</h2></a>
	<div class="about-hello">
		{% picture jeff-canyon.jpeg %}
		<p>Hi, I'm Jeff Anders! I live in Denver, Colorado, USA with my wife Emily and daughter Nellie. </p>
	</div>
</section>

<hr>
 {% endcomment %}
<section data-section-id="contact" class="animated-section section-contact">
	<a id="contact"><h2 class="section-title">Contact</h2></a>
	<ul class="card-grid card-grid-compact contact-grid">
  		{% for contact in site.data.contacts %}
			<a href="{{ contact.link }}" target="_blank" rel="noopener"><li class="compact-card">{% include icons/{{ contact.icon }}.html %}<h3>{{ contact.name }}</h3><p class="card-secondary">{{ contact.handle }}</p></li></a>
		{% endfor %}
	</ul>
</section>

<!-- Javascript -->
<script type="text/javascript" src="/js/hidden.js"></script>
