---
layout: default
title: Jeff Anders
---

<section>
	<a id="teams"><h2 class="section-title">Teams</h2></a>
	<ul class="post-grid team-grid">
  		{% for team in site.data.teams %}
    	<a href="{{ team.link }}"><li class="team-card"><img class="team-icon" src="{{ team.image }}" alt="{{ team.company }} logo"><h3 style="color:{{ team.color }};">{{ team.company }}</h3><p>{{ team.role }}</p></li></a>
		{% endfor %}
	</ul>
</section>

<section>
	<a id="projects"><h2 class="section-title">Projects</h2></a>
	<ul class="post-grid">
		{% for post in site.categories.project limit:24 %}
			{% include post-item.html %}
		{% endfor %}
	</ul>
</section>

<section>
	<a id="speaking"><h2 class="section-title">Speaking</h2></a>
	<ul class="two-column">
		{% for post in site.categories.talk limit:8 %}
			{% include post-item.html %}
		{% endfor %}
	</ul>
</section>

<section>
	<a id="writing"><h2 class="section-title">Writing</h2></a>
	<ul class="two-column">
		{% for post in site.categories.article limit:8 %}
			{% include post-item.html %}
		{% endfor %}
	</ul>
</section>
