<div class="sidebar wrapper">

	<a href="/" class="sidebar-title">
		<img class="sidebar-avatar" src="/img/jeffanders-small.jpg" alt="Jeff Anders avatar">
		<h1 class="sidebar-name" href="/">Jeff Anders</h1>
	</a>

	<nav class="section-nav">
		<ul>
			<a class="nav-team" href="/#teams"><li>Teams<img class="active-dot" src="/img/icons/circle-medium.svg"></li></a>
			<a class="nav-project" href="/#projects"><li>Projects<img class="active-dot" src="/img/icons/circle-medium.svg"></li></a>
			<a class="nav-talk" href="/#talks"><li>Talks<img class="active-dot" src="/img/icons/circle-medium.svg"></li></a>
			{% comment %} <a class="nav-article" href="/#writing"><li>Writing<img class="active-dot" src="/img/icons/circle-medium.svg"></li></a> {% endcomment %}
			<a class="nav-list" href="/#lists"><li>Lists<img class="active-dot" src="/img/icons/circle-medium.svg"></li></a>
			<a class="nav-contact" href="/#contact"><li>Contact<img class="active-dot" src="/img/icons/circle-medium.svg"></li></a>
		</ul>
	</nav>

	<div class="sidebar-social">
  		{% for contact in site.data.contacts limit:3 %}
		  	<a class="sidebar-social-item" href="{{ contact.link }}" title="{{ contact.name }}" target="_blank" rel="noopener">{% include {{ contact.icon }}.html %}</a>
		{% endfor %}
		<a class="sidebar-social-item" href="/#contact" title="More Contact">{% include dots-horizontal.html %}</a>
	</div>

</div>
