<div class="sidebar wrapper">

	<a href="/" class="sidebar-title">
		<img class="sidebar-avatar" src="/img/jeffanders-small.jpg" alt="Jeff Anders avatar">
		<h1 class="sidebar-name" href="/">Jeff Anders</h1>
	</a>

	<nav class="section-nav">
		<ul>
			<a href="/#teams"><li>Teams</li></a>
			<a href="/#projects"><li>Projects</li></a>
			<a href="/#speaking"><li>Speaking</li></a>
			<a href="/#writing"><li>Writing</li></a>
			<a href="/#contact"><li>Contact</li></a>
		</ul>
	</nav>

	<div class="intro">
		<p>In Denver, CO with Emily & ______</p>
		<p class="intro-2">Thinking about climate and design</p>
		<p class="intro-3">Once called Hilnbrand · he / him</p>
	</div>


	<div class="sidebar-social">
		<a class="social-twitter sidebar-social-item" href="https://twitter.com/jeffand_" title="Twitter" target="_blank" rel="noopener">{% include twitter.html %}</a>
		<a class="social-linkedin sidebar-social-item" href="https://www.linkedin.com/in/jeff-anders" title="LinkedIn" target="_blank" rel="noopener">{% include linkedin.html %}</a>
		<a class="social-dribbble sidebar-social-item hide-mobile" href="https://dribbble.com/jeffand" title="social-dribbble" target="_blank" rel="noopener">{% include dribbble.html %}</a>
		<a class="social-github sidebar-social-item hide-mobile" href="https://github.com/jhil" title="GitHub" target="_blank" rel="noopener">{% include github.html %}</a>
		<a class="social-goodreads sidebar-social-item hide-mobile" href="https://www.goodreads.com/jeffand" title="Goodreads" target="_blank" rel="noopener">{% include goodreads.html %}</a>
	</div>

</div>
