<div class="sidebar wrapper">

	<a href="/" class="sidebar-title">
		<img class="sidebar-avatar" src="/img/jeffanders-small.jpg" alt="Jeff Anders avatar">
		<h1 class="sidebar-name" href="/">Jeff Anders</h1>
	</a>

	<nav class="section-nav">
		<ul>
			<a class="nav-teams" href="/#teams"><li>Teams</li></a>
			<a class="nav-projects" href="/#projects"><li>Projects</li></a>
			<a class="nav-speaking" href="/#speaking"><li>Speaking</li></a>
			{% comment %} <a class="nav-writing" href="/#writing"><li>Writing</li></a> {% endcomment %}
			<a class="nav-lists" href="/#lists"><li>Lists</li></a>
			<a class="nav-contact" href="/#contact"><li>Contact</li></a>
		</ul>
	</nav>

	<div class="sidebar-social">
  		{% for contact in site.data.contacts limit:3 %}
		  	<a class="sidebar-social-item" href="{{ contact.link }}" title="{{ contact.name }}" target="_blank" rel="noopener">{% include {{ contact.icon }}.html %}</a>
		{% endfor %}
		<a class="sidebar-social-item" href="#contact" title="More Contact" target="_blank" rel="noopener">{% include dots-horizontal.html %}</a>
	</div>

</div>
