{% assign filetype = include.file | slice: -3,3 %}
{% if filetype contains "svg" %}
{% if page.layout == 'post' %}
<picture><img src="/img/{{ page.url | slugify }}/{{ include.file }}" alt="{{ include.alt }}" class="{{ include.class }}" loading="lazy"></picture>
{% else %}
<picture><img src="/img/{{ include.file }}" alt="{{ include.alt }}" class="{{ include.class }}" loading="lazy"></picture>
{% endif %}
{% else %}
{% if page.layout == 'post' %}
{% picture "{{ page.url | slugify }}/{{ include.file }}" {{ include.params }} class="{{ include.class }}" --alt {{ include.alt }} %}
{% else %}
{% picture "{{ include.file }}" {{ include.params }} class="{{ include.class }}" --alt {{ include.alt }} %}
{% endif %}
{% endif %}
