<li class="post-item">
  {% unless post.still == true %}<a href="{% if post.external %}{{ post.external }}{% else %}{{ post.url }}{% endif %}" class="post-item-wrapper post-item-category-{{ post.category }}" {% if post.external %}target="_blank" rel="noopener"{% endif %}>{% endunless %}
		<div class="post-image">
			<img src="/img/{{ post.url | slugify }}/{{ post.thumb }}" alt="{{ post.title }} logo" loading="lazy">
		</div>
		<div class="post-info-wrapper">
			<div class="post-info">
				<h3 class="post-title">{{ post.title }}<span class="post-brief">&ensp;–&ensp;{{ post.brief }}</span>{% if post.external %}&ensp;↗{% endif %}</h3>
			</div>
		</div>
	{% unless post.still == true %}</a>{% endunless %}
</li>
