  <a href="{% if post.external %}{{ post.external }}{% else %}{{ post.url | prepend: site.baseurl }}{% endif %}" class="post-item-wrapper post-item-category-{{ post.category }}" {% if post.external %}target="_blank"{% endif %}>
    <li class="post-item">
      <div class="post-image">
        <img src="/img/{{ post.url | slugify }}/{{ post.thumb }}">
      </div>
      <div class="post-info-wrapper">
        <div class="post-info">
          <h4 class="post-title">{{ post.title }}</h4>
          <h5 class="post-metadata">{{ post.date | date: "%Y" }}&ensp;·&ensp;#{{ post.category }}{% if post.external %}&ensp;·&ensp;◳{% endif %}</h5>
        </div>
      </div>
    </li>
  </a>
