<li class="post-item post-item-category-{{ post.category }}">
  {% unless post.still == true %}<a href="{% if post.external %}{{ post.external }}{% else %}{{ post.url }}{% endif %}" {% if post.external %}target="_blank" rel="noopener"{% endif %}>{% endunless %}
		<div class="post-image">
			<img src="/img/{{ post.url | slugify }}/{{ post.thumb }}" alt="{{ post.title }} logo" loading="lazy">
		</div>
		<h3 class="post-info">
			{% if post.category contains "project" %}
				<span class="post-title">{{ post.title }}</span><span class="post-brief">&ensp;–&ensp;{{ post.brief }}</span>{% if post.external %}<span class="post-external">&ensp;↗</span>{% endif %}
			{% elseif post.category contains "talk" %}
				<span class="post-brief">{{ post.brief }}</span>
				<span class="post-title">{{ post.title }}</span>{% if post.external %}<span class="post-external">&ensp;↗</span>{% endif %}
			{% elseif post.category contains "writing" %}
				<span class="post-title">{{ post.title }}</span>{% if post.external %}<span class="post-external">&ensp;↗</span>{% endif %}
			{% endif %}
		</h3>
	{% unless post.still == true %}</a>{% endunless %}
</li>
