$black: #222222;
$dark-gray: #888888;
$medium-gray: #CCCCCC;
$light-gray: #EEEEEE;
$lighter-gray: #F6F6F6;

$white: #FFFFFF;

$transparent: rgba(0, 0, 0, 0);

$yellow: #F2F279;
$green: #3DCC3D;
$red: #FF4C4C;

$green-trans: rgba(61,204,61,.5);
$red-trans: rgba(255,76,76,.5);
