$black: #222;
$dark-gray: #555;
$medium-dark-gray: #777;
$medium-gray: #999;
$light-gray: #ddd;
$lighter-gray: #eee;
$lightest-gray: #F9F9F9;

$white: #FFFFFF;

$transparent: rgba(0, 0, 0, 0);

$yellow: #F2F279;
$green: #3DCC3D;
$red: #FF4C4C;

$green-trans: rgba(61,204,61,.5);
$red-trans: rgba(255,76,76,.5);
