$black: #222;
$dark-gray: #888;
$medium-gray: #AAA;
$light-gray: #CCC;
$lighter-gray: #EEE;

$white: #FFFFFF;

$transparent: rgba(0, 0, 0, 0);

$yellow: #F2F279;
$green: #3DCC3D;
$red: #FF4C4C;

$green-trans: rgba(61,204,61,.5);
$red-trans: rgba(255,76,76,.5);
