.section-title {
	margin-bottom: 3rem;
}

// posts grid

.post-index {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 3rem;
}

.post-item {

	.post-image {
		margin-bottom: 1.5rem;
		@extend .image-fill;
		@extend .ratio;
		@extend .ratio-8_5;
		@extend .soft;
		transition: $t;
	}

	.post-info {
		padding-right: 0.25rem;
	}

	.post-brief {
		@extend p;
		transition: $t;
		color: $medium-gray;
	}

	.post-external {
		@extend p;
		color: $medium-gray;
		opacity: 0;
		transition: $t;
	}

	&:hover {
		.post-image {
			@extend .hover-shadow;
		}
		.post-brief {
			color: $black;
			transition: $t;
		}
		.post-external {
			opacity: 1;
		}
	}

}

// teams

.team-grid {
	grid-gap: 1.5rem;
	grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.team-card {
	display: flex;
	background: $lightest-gray;
	border-radius: 4px;
	padding: 1rem;
	align-items: center;
	transition: $t;
	&:hover {
		@extend .hover-shadow;
	}
	h3 {
		flex-grow: 1;
	}
	p {
		color: $medium-gray;
	}
	img {
		margin-right: 1rem;
		width: 2rem;
		height: 2rem;
		border-radius: .25rem;	
	}
}
