.section-title {
	margin-bottom: 3rem;
}

// posts grid

.post-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 3rem;
}

.post-item {
	.post-image {
		border-radius: $corner-radius;
		transition: $t;
	}
	.post-brief {
		@extend p;
		transition: $t;
		color: $medium-gray;
	}
	.post-external {
		@extend p;
		color: $medium-gray;
		opacity: 0;
		transition: $t;
	}
	&:hover {
		.post-image {
			@extend .hover-shadow;
		}
		.post-brief {
			color: $black;
			transition: $t;
		}
		.post-external {
			opacity: 1;
		}
	}
}

.post-item-category-project {

	.post-image {
		margin-bottom: 1.5rem;
		@extend .image-fill;
		@extend .ratio;
		@extend .ratio-8_5;
	}

	.post-info {
		padding-right: 0.25rem;
	}
}

.post-item-category-talk, .post-item-category-talk a {
	display: flex;
	align-items: center;
	&:hover .post-image {
		transform: none;
	}
	.post-image {
		@extend .image-fill;
		width: 4.5rem;
		height: 4.5rem;
		margin-right: 1.5rem;
	}
	h3:first-of-type {
		margin-bottom: 0.5rem;
		@extend .p;
	}
}

// teams

.compact-grid {
	row-gap: 2rem;
	// grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));
}

.compact-card {
	display: flex;
	background: $lightest-gray;
	border-radius: $corner-radius;
	padding: 1rem;
	align-items: center;
	transition: $t;
	&:hover {
		@extend .hover-shadow;
		.card-secondary {
			color: $black;
		}
	}
	h3 {
		flex-grow: 1;
	}
	img, svg {
		width: 1.5rem;
		height: 1.5rem;
		margin-right: 1rem;
	}
}

.section-teams .compact-card img,svg {
	width: 2rem;
	height: 2rem;
	border-radius: $corner-radius;
}

.card-secondary {
	color: $medium-gray;
	transition: $t;
}

.button-more {
	margin-top: 3rem;
}
