// nav

.sidebar {
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	gap: 1rem;
	background: $lightest-gray;
	@media screen and (min-width: $tablet-portrait-min) {
		position: fixed;
		top: 0;
		left: 0;
		gap: 3rem;
		width: $sidebar-width;
		height: 100%;
	}
}

.sidebar-title {
	display: flex;
	align-items: center;
	&:hover {
		text-decoration: underline;
		img {
			@extend .hover-shadow;
			transform: translateY(0);
		}
	}
}

.sidebar-avatar {
	height: 2.5rem;
	width: 2.5rem;
	display: block;
	background-size: cover;
	margin-right: 1rem;
	transition: $t;
	border-radius: 50%;
	img {
		height: 2.5rem;
		width: 2.5rem;
	}
}

.sidebar-name {
	@extend .h2;
}

.sidebar-social {
	display: flex;
	justify-content: space-between;
	margin: auto -0.75rem -0.75rem;
	// TODO: fix mobile horizontal overflow
}

.sidebar-social-item {
	padding: 0.75rem;
	transition: $t;
	border-radius: 50%;
	svg {
		width: 1.5rem;
		height: 1.5rem;
		path {
			transition: $t;
			fill: $medium-gray;
		}
	}
	&:hover {
		background: $lighter-gray;
		svg path {
			fill: $dark-gray;
		}
	}
}

.intro {
	display: grid;
	grid-row-gap: 0.5rem;
	.intro-2 {
		color: $medium-dark-gray;
	}
	.intro-3 {
		color: $medium-gray;
	}
}

nav {
	ul {
		margin: 0 -3rem;
		@media screen and (max-width: $phone-landscape-max) {
			margin: 0;
			display: flex;
			flex: wrap;
		}
	}
	li {
		font-weight: $demi;
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 1rem 3rem;
		color: $dark-gray;
		transition: $t-fast;
		&:hover {
			color: $black;
			background: $lighter-gray;
			transition: $t;
		}
		@media screen and (max-width: $phone-landscape-max) {
			padding: 0;
			// TODO: make mobile style
		}
	}
}

.active-dot {
	opacity: 0;
	transition: $t;
	height: 0.5rem;
	width: 0.5rem;
	background-color: $dark-gray;
	border-radius: 50%;
	display: inline-block;
}

.in-section-team .nav-team,
.in-section-project .nav-project,
.in-section-talk .nav-talk,
.in-section-article .nav-article,
.in-section-list .nav-list,
.in-section-about .nav-about,
.in-section-contact .nav-contact {
	li {
		background: $white;
		color: $black;
		.active-dot {
			opacity: 1;
		}
	}
}
