// nav

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	a {
		font-weight: $regular;
	}
	& > * {
		display: flex;
	}
}

.nav-left {
	display: flex;
	align-items: center;
	&:hover {
		.nav-avatar {
			transform: scale(1.1);
		}
		text-decoration: underline;
	}
}

.nav-right {
	display: flex;
}

.nav-avatar {
	height: 3rem;
	width: 3rem;	
	display: block;
	background-size: cover;
	margin-right: 1rem;
	transition: $t;
	border-radius: 50%;
	img {
		height: 3rem;
		width: 3rem;	
	}
}

.nav-title {
	@extend h3;
	@media screen and (max-width: $phone-portrait-max) {
		font-size: 1.25rem;
	}
	margin-bottom: 0;
	font-weight: $medium;
	letter-spacing: 0;
}

.nav-social-item {
	width: 1.25rem;
	height: 1.25rem;
	padding: .75rem;
	margin-left: 1rem;
	@media screen and (max-width: $phone-portrait-max) {
		margin-left: 0;
	}
	transition: $t;
	border-radius: 50%;
	svg path {
		transition: $t;
		fill: $medium-gray;
	}
	&:hover {
		background: $lighter-gray;
		svg path {
			fill: $dark-gray;
		}
	}
}
