// nav

nav {
	background: $lightest-gray;
	max-width: 24rem;
	border-right: solid $lighter-gray 1px;
}

.nav-name {
	display: flex;
	align-items: center;
	&:hover {
		text-decoration: underline;
	}
}

.nav-avatar {
	height: 2.5rem;
	width: 2.5rem;
	display: block;
	background-size: cover;
	margin-right: 1rem;
	transition: $t;
	border-radius: 50%;
	img {
		height: 2.5rem;
		width: 2.5rem;
	}
}

.nav-title {
	font-variant-ligatures: no-common-ligatures;
}

.nav-social {
	display: flex;
}

.nav-social-item {
	width: 1.25rem;
	height: 1.25rem;
	padding: 0.75rem;
	margin-left: 1rem;
	transition: $t;
	border-radius: 50%;
	svg path {
		transition: $t;
		fill: $medium-gray;
	}
	&:hover {
		background: $lighter-gray;
		svg path {
			fill: $dark-gray;
		}
	}
}
