// Font weights
$heavy: 900;
$extra-bold: 800;
$bold: 700;
$demi: 600;
$medium: 500;
$regular: 400;
$light: 300;

$base-font-size: 1rem;

@font-face {
	font-family: 'Basis Grotesque';
	src: url('/fonts/BasisGrotesque-Regular.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Basis Grotesque';
	src: url('/fonts/BasisGrotesque-Medium.otf') format('otf');
	font-weight: 500;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Basis Grotesque';
	src: url('/fonts/BasisGrotesque-Bold.otf') format('otf');
	font-weight: 700;
	font-style: normal;
	font-display: swap;
}

@font-face {
	font-family: 'Basis Grotesque Mono';
	src: url('/fonts/BasisGrotesque-Mono.otf') format('otf');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

$sans: 'Basis Grotesque', Maison, -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
$mono: 'Basis Grotesque Mono', Inconsolata, 'Source Code Pro', monospace;
$serif: Georgia, serif;

.mono {
	font-family: $mono;
	font-weight: $regular;
}

h1, %h1, .h1 {
	font-size: 2.5rem;
	letter-spacing: 0.25px;
	font-family: $sans;
	font-weight: $bold;
	line-height: 1.6;
}

h2, %h2, .h2 {
	font-size: 1.5rem;
	line-height: 1.667;
	font-family: $sans;
	font-weight: $medium;
}

h3, %h3, .h3 {
	font-size: 1rem;
	font-family: $sans;
}

h4, %h4, .h4 {
	font-size: 1rem;
	font-family: $sans;
}

h5, %h5, .h5 {
	font-size: 1rem;
	font-family: $sans;
}

p, .p {
	font-size: 1rem;
	font-family: $sans;
}

strong {
	font-weight: $medium;
}

a {
	font-weight: $medium;
}

p code {
	font-family: $mono;
	padding: .5rem .5rem;
	background: $lighter-gray;
	margin: 0 .125rem;
}

sub, .sub {
	color: $medium-gray;
}
