---
layout: default
---

<article class="post post-article post-{{ page.category }}">

  <section class="article-header{% if page.hero == false and page.full != true %} article-header-tight{% endif %}">
    <h1 class="post-title">{{ page.title }}</h1>
    <h2 class="article-metadata">{{ page.date | date: "%b %d, %Y" }}&ensp;·&ensp;{{ page.category }}</h2>
  </section>

  {% unless page.hero == false %}
  <section class="full-width article-image-hero">
    <img src="/img/{{ page.url | slugify }}/{% if page.hero %}{{ page.hero }}{% else %}{{ page.thumb }}{% endif %}" loading="lazy">
  </section>
  {% endunless %}

  <section class="article-body{% if page.full == true %} article-body-full{% endif %}">
    {{ content }}
  </section>

</article>
